---
import { ViewTransitions } from "astro:transitions";
import { getLangFromUrl } from "@/components/i18n/utils";

interface Props {
  title: string;
}

const { title } = Astro.props;
const lang = getLangFromUrl(Astro.url);
---

<!doctype html>
<html lang={lang}>
  <head>
    <meta charset="UTF-8" />
    <meta
      name="eDev Play Factory - Simple Music Editor"
      content="Desktop Application"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="/iconPlayFactory.png" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <ViewTransitions />
    <slot />
  </body>
</html>

<style is:global>
  :root {
    font-family: system-ui;
    color-scheme: light dark;
  }
  html {
    font-family: system-ui, sans-serif;
    /* color: #eee; */
    /* overflow-y: auto; */
    /* overflow-x: hidden; */
  }
  .icon-animated {
    fill-opacity: 0;
    stroke-dasharray: 1300;
    stroke-dashoffset: 1300;
    animation: dash 1s ease-in forwards;
  }

  @keyframes dash {
    70% {
      fill-opacity: 0;
    }

    100% {
      fill-opacity: 100%;
      stroke-dashoffset: 0;
      stroke-width: 1;
    }
  }

  /* Base style for the scroll bar */
  ::-webkit-scrollbar {
    width: 8px;
  }

  /* Style for the scroll bar "track" */
  ::-webkit-scrollbar-track {
    background: #18181b;
  }

  /* Style for the "thumb" of the scroll bar */
  ::-webkit-scrollbar-thumb {
    background: #585858;
  }

  /* Style for the scroll bar thumb hover state */
  ::-webkit-scrollbar-thumb:hover {
    background: #898989;
  }
</style>

<script>
  import { aosInit } from "../utils/aos.script";
  document.addEventListener("astro:page-load", function () {
    aosInit();
  });
</script>